MYSQL_ROOT_USERNAME=
MYSQL_ROOT_PASSWORD=
OPENAI_API_KEY=
MYSQL_USER=
MYSQL_PASSWORD=
INGREDIENTS_API_KEY=1
STATS_API_KEY=2
RECIPE_API_KEY=3
LOAD_TESTS_API_KEY=4
VALID_API_KEYS_INCOMING_TO_STATS=3,1,4
VALID_API_KEYS_INCOMING_TO_INGREDIENTS=3,1,4
VALID_API_KEYS_INCOMING_TO_RECIPE=1,4
